/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/migrate
spec/dummy/db/schema.rb
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/system/

tags*
